@import url('https://fonts.googleapis.com/css?family=Montserrat');

svg {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
.marker:hover > .outline {
    fill: black;
}


.container {
    width: 100vw;
    white-space: nowrap;
}

.headerTop {
    margin: 0px;
    padding: 0px;
}
.headerMiddle {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color:white;
    height: 120px;
}

.headerBottom {
    height: 80px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,f6f6f6+53,ffffff+100 */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

.snapmeter {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.status-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #07658A;
    text-align: justify;
}

.light-blue{
    color: #51aee1;
}

.status-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #07658A;
    text-align: justify;
}


.navbar-default {
    background-color:#51aee1;
    background-image: none;
    background-repeat: no-repeat;
    font-size: 30px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;

}


.navbar-text {
    color: white;

}

.navbar-header {
    padding-left: 15px
}

.navbar-toggle.collapsed {
    margin-top: -55px;
}

.navbar-toggle {
    margin-top: -55px;
}

.navbar-toggle {
    color: white;
}
.bold {
    font-weight: bold;
    color: white;
    font-size: 37px;

}
.nobold{
    font-weight:lighter;
    color: white;
    font-size: 37px;
}

.navbar .glyphicon {
    color: white;
}

.glyphicon-menu-hamburger {
    margin-right: 20px;
}
.nav {
    margin-top: 15px;
}

.icon-count {
    margin-right: 20px;
}
.icon {
    padding-left: 20px;

}

.gauge svg {
    max-height: 25vh;
    max-width: 100%;
}
.icon-number {
    font-size: 30px;
}

.icon-type {
    font-size: 20px;
}

.warning-number {
    font-size: 20px;
}


.attention-div {
    margin-left: 0px;
    float:left;
}

.arrow-div {
    float:right;
    padding-right: 10px;
    padding-bottom: 10px;
}


.bottom-row-home-string {
    font-size: 16px;
    padding-right: 20px;
}


.gauge path {
    stroke-width: 75;
    stroke: #ecf0f1;
    fill: none;
  }

  .gauge path.data-arc {
    stroke: #51aee1;
  }

.no-underline {
    text-decoration:none;
 }

 a {
    text-decoration:none;
 }

 .graph {
     padding-top: 40px;
 }

.headerBottom {
    text-align: center;
    padding-top: 10px;
}


th {
    padding-right: 3em;
}



.detail-row {
    padding-bottom: 1em;
}

.detail-view {
    height: 600px;
}

.graph-buttons {
    padding-top: 1em;
}

.container-fluid {
    height: 65vh;
}

.loading-div {
    display: table;
    margin: 0 auto;
    padding-top: 5em;
}

.icon {
    width:100px;
    height: 100px;
}

.bottom-row-home-icons {
    width:80px;
    height: 80px;
}


/* mobile menu color hamburger */
@media (max-width: 768px) { /* Makes these changes only when screen sizes is 767 px or less */


    .map-div {
        height: 53vh !important;
    
    }
    .headerMiddle {
        padding-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        background-color:white;
        height: 60px;
    }
    
    .icon {
        width:50px;
        height: 50px;
    }

    .icon-count {
        margin-right: 5px;
    }
    .icon {
        padding-left: 5px;
    
    }

    .icon-number {
        font-size: 10px;
    }
    
    .icon-type {
        font-size: 10px;
    }
    

    .headerBottom {
        height: 50px;
    }

    .bottom-row-home-icons {
        width:40px;
        height: 40px;
    }

    .bottom-row-home-string {
        font-size: 8px;
        padding-right: 5px;
    }

    .warning-number {
        font-size: 10px;
    }
    
  }


  
